.feed {
  flex: 5.5;
  ///////////////////////////////
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  ///////////////////////////////
  .feedWrapper {
    padding: 20px;
    outline: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
@media (max-width: 768px) {
  .feed {
    flex: 20;
  }
}
